.TextInput-container {
  display: block;
}

.TextInput-label {
  display: block;
}

.TextInput {
  appearance: none;
  height: 2.75rem;
  width: 100%;
  padding: 0 1rem;
  border-radius: 4px;
  border: 1px solid var(--neutral);
}
