.JobList-container {
  grid-area: left-pane;
  background-image: linear-gradient(#2f9eb9, #adfad2);
}

.JobList-message {
  text-align: center;
  color: var(--on-primary);
}

.JobList-addButton {
  width: 100%;
}
