.JobListItem-link {
  display: block;
  padding: 1rem;
  border-radius: 4px;
  color: var(--on-primary);
  text-decoration: none;
  border: 1px solid transparent;
}

.JobListItem-link--active {
  background-color: rgba(225, 225, 225, 0.25);
  border-color: var(--on-primary);
}

.JobListItem-link:hover {
  background-color: rgba(225, 225, 225, 0.25);
}

.JobListItem-label {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.JobListItem-status {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}

.JobListItem-status--finished {
  color: var(--on-success);
  background-color: var(--success);
}

.JobListItem-status--in-progress {
  color: var(--on-warning);
  background-color: var(--warning);
}
