.JobList-container {
  grid-area: left-pane;
}

.JobList-cardContainer {
  position: sticky;
  top: 0;
  padding-top: 1rem;
}

.JobList-message {
  text-align: center;
}

.JobList-addButton {
  width: 100%;
}
