.JobsPage-content {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-areas: "left-pane right-pane";
}

.JobsPage-listPane {
  grid-area: left-pane;
}

.JobsPage-detailPane {
  grid-area: right-pane;
}
