.Button {
  height: 2.75rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid var(--neutral);
  border-radius: 4px;
  background-color: var(--surface);
}

.Button:disabled {
  opacity: 0.5;
}
