.LoadingButton-content {
  /* by using a grid and placing the loading spinner and the label in the same column & row, */
  /* the button will be the same size regardless of which child is visible, preventing layout jank */
  display: grid;
}

.LoadingButton-label {
  grid-column: 1;
  grid-row: 1;
  visibility: visible;
}

.LoadingButton-label--loading {
  visibility: hidden;
}

.LoadingButton-spinner {
  grid-column: 1;
  grid-row: 1;
  visibility: hidden;
}

.LoadingButton-spinner--loading {
  visibility: visible;
}
