.PageHeader {
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.PageHeader-content {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 1rem;
}
