:root {
  --primary: #2557a7;
  --primary-weak: #f8f9fe;
  --accent: #9d2b6b;
  --neutral: #b4b2b1;
  --surface: #fff;
  --background: #eef1fe;
  --success: #1f662c;
  --warning: #d76823;

  --on-primary: #fff;
  --on-accent: #fff;
  --on-surface: #2d2d2d;
  --on-surface-weak: #595959;
  --on-success: #fff;
  --on-warning: #fff;

  --page-max-width: 80rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: var(--on-surface);
  background-color: var(--background);
}

#root {
  height: 100%;
}

/* font utils */

.fs-1 {
  font-size: 0.75rem;
}

.fs-2 {
  font-size: 0.825rem;
}

.fs-3 {
  font-size: 1rem;
}

.fs-4 {
  font-size: 1.2rem;
}

.fs-5 {
  font-size: 1.5rem;
}

.fs-6 {
  font-size: 2rem;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.color-normal {
  color: var(--on-surface);
}

.color-weak {
  color: var(--on-surface-weak);
}

/* padding utils */

.p-sm {
  padding: 0.5rem;
}

.p-md {
  padding: 1rem;
}

.px-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-md {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-lg {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* margin utils */

.m-sm {
  margin: 0.5rem;
}

.m-md {
  margin: 1rem;
}

.mx-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-md {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.mt-md {
  margin-top: 1rem;
}

.ml-sm {
  margin-left: 0.5rem;
}

.ml-md {
  margin-left: 1rem;
}
